.posts-list{
    display: grid;
    gap: var(--spacing-md);
}

.posts-list__empty {
    padding: var(--spacing-xl);
    text-align: center;
    background-color: var(--color-background);
    border-radius: var(--border-radius-md);
    border: 2px dashed var(--color-border);
    box-shadow: var(--box-shadow-md);
}

.posts-list__empty p{
  margin: var(--spacing-xs) 0;
  color: var(--color-text-light);
}

.posts-list__empty strong {
    color: var(--color-primary);
}